.contact-form
  form.form-style(method="POST" action="{{ .Site.Params.contactFormAction }}" data-toggle="validator")
    ul
      li
        input#username.field-style.field-full(type="text" name="username" placeholder="Name" required)
      li
        input.field-style.field-full#email(type='email', name='email', placeholder='Email', required)
      li
        textarea.field-style#message(name='message', rows='6', placeholder!='{{ i18n "message" }}')
      li
        input.field-style(type='submit', value!='{{ i18n "send" }}')
