
| {{ if eq .Hugo.Environment "release" }}

//- | {{ $js := resources.Get "js/1.js" }} {{ $secJs := $js | resources.Minify | resources.Fingerprint }}
script(src="/dist/app.bundle.js")

| {{ else }}


| {{ end }}
