
//- | {{ if eq .Hugo.Environment "release" }}

| {{ if eq .Hugo.Environment "styleshim" }}


| {{ else }}

//- | {{ $js := resources.Get "js/1.js" }} {{ $secJs := $js | resources.Minify | resources.Fingerprint }}
script(src="/dist/app.bundle.js")

//- | {{ else }}
//- 
//- 
| {{ end }}
