footer
  //- | {{- partial "medium-zoom.html" . -}} {{- partial "math.html" . -}} {{- template "_internal/google_analytics_async.html" . -}}
  //- dont add things here unless you fix the flexbox to col direciton
