| <!--> Sass stylesheets <-->
.
  {{ $styleParams := (dict "outputStyle" "compressed") }}
  {{ $postcssParams := (dict "config" "./assets/postcss.config.js" ) }}
  {{ $testStyle := resources.Get "scss/main.scss" | resources.ToCSS $styleParams | resources.PostCSS $postcssParams | resources.Minify | resources.Fingerprint }}
link(href='{{ $testStyle.RelPermalink }}', rel='preload', as='style', type='text/css')
link(rel='stylesheet', href='{{ $testStyle.RelPermalink }}' type='text/css')

| {{ template "_internal/opengraph.html" . }} 
| {{ template "_internal/twitter_cards.html" . }}

//- Meta site info 
title {{ .Title }} | haunt.gg
meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1,viewport-fit=cover')
meta(name="author", content="{{ .Site.Params.author }}")
meta(name='description', content='{{ .Site.Params.description }}')
link(rel='canonical', href='{{ .BaseURL }}')

| {{- if .Site.Params.googleSiteVerify }}
meta(name='google-site-verification', content='{{ .Site.Params.googleSiteVerify }}')
| {{- end -}}

//-  RSS 
| {{ with .OutputFormats.Get "rss" -}} {{ printf `
link(rel='%s', type='%s', href='%s', title='%s')
| ` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }} {{ end -}}

| <!--> Service worker / javascript vars <-->
.
  {{ $image := resources.Get "favicon.png" }}
  {{ $smallimg := $image.Resize "80x"}}
  {{ $opts := (dict "domain" .Site.BaseURL "style" $testStyle.RelPermalink "icon" $smallimg.RelPermalink )}}
  {{ $sw := resources.Get "js/sw.js" | js.Build (dict "targetPath" "sw.js" "params" $opts) | resources.Minify | resources.Fingerprint | resources.PostProcess }}
script(defer, async, src="{{ $sw.RelPermalink }}")

//- | {{ if not .Site.Params.disableThemeSwitcher }} {{ $anatoleThemeSwitcher := resources.Get "js/anatole-theme-switcher.js" }} {{ $secureThemeSwitcherJS := $anatoleThemeSwitcher | resources.Minify | resources.Fingerprint }}
//- script(type='text/javascript', src='{{ $secureThemeSwitcherJS.RelPermalink }}', crossorigin='anonymous')
//- | {{ end }} {{- $js := "" -}} {{- range .Site.Params.customJs -}} {{- if or (in . "http://") (in . "https://") -}}
//- script(src='{{ . | relURL }}')
//- | {{- else -}} {{- $customJS := resources.Get . -}} {{- if $customJS -}} {{- if eq $js "" -}} {{- $js = $customJS -}} {{- else -}} {{- $js = slice $js $customJS | resources.Concat "js/custom.js" -}} {{- end -}} {{- end -}} {{- end -}} {{- end -}} {{- if ne $js "" -}} {{- $secureJS := $js | resources.Minify | resources.Fingerprint -}}
//- script(type='text/javascript', src='{{ $secureJS.Permalink }}', crossorigin='anonymous')
//- | {{- end -}}

//-  Favicons, i think inject-favicon jobs in prod removes these
| {{ $apple := $image.Resize "180x"}}
link(rel='shortcut icon', href='{{ .Site.Params.favicon | relURL }}/favicon.png', type='image/x-icon')
link(rel='apple-touch-icon', sizes='180x180', href='{{ .Site.Params.favicon | relURL }}/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='{{ $apple.RelPermalink }}')
link(rel='icon', type='image/png', sizes='16x16', href='{{ $apple.RelPermalink }}')
  
  
  
