
| {{ if eq .Hugo.Environment "styleshim" }}


| {{ else }}

| {{ $js := resources.Get "js/sort.js" }} {{ $secJs := $js | resources.Minify | resources.Fingerprint }}
script(src="{{$secJs.RelPermalink}}")

| {{ end }}
