.my-auto.flex.w-full.justify-center
  input#invert.text-pink-400.my-auto.border-pink-400.rounded.border(type='checkbox' onchange='window.EntryPoint.utils.invert_list(document.querySelector("#list"))')
  span Reverse Sort Order
