//- | {{ if eq .Hugo.Environment "release" }}
| {{ if eq .Hugo.Environment "styleshim" }}


| {{ else }}

| {{ $js := resources.Get "js/consumables.js" }} {{ $secJs := $js | resources.Minify | resources.Fingerprint }}
script(src="{{$secJs.RelPermalink}}")

//- | {{ else }}
//- 
//- 
| {{ end }}
