//- | {{ if eq .Hugo.Environment "release" }}

| {{ $js := resources.Get "js/wearables.js" }} {{ $secJs := $js | resources.Minify | resources.Fingerprint }}
script(src="{{$secJs.RelPermalink}}")

//- | {{ else }}
//- 
//- 
//- | {{ end }}
