// top title + last_updated section
.pagehead {
  @apply flex flex-col w-full text-center -my-4;

  h1 {
    @apply font-bold text-2xl mx-auto mt-2 uppercase
  }
}

// contains sort prompt
.sortbox {

  @apply flex mx-auto w-full justify-center mt-4;

  p {
    @apply uppercase mx-2 my-auto;
  }

  select {
    @apply rounded border appearance-none border-pink-300 py-1 pl-3 pr-3 bg-transparent uppercase text-center;

    // supposed to center the selected text
    text-align-last: center;

    &:focus {
      // @apply outline-none
    }

  }

}

input.search {
  @apply mx-auto w-3_5 text-base p-1 text-center text-white bg-transparent rounded border-pink-400 border;

  @screen md {
    @apply w-1_3;
  }
}


// contains an array of nodes, could be item listings or portals , or sections of subrarities
.itemlist {
  @apply flex flex-col mx-auto w-11_12 mb-12;

  @screen md {
    @apply w-9_12;
  }

  @screen lg {
    @apply w-4_5;
  }

  @screen xl {
    @apply w-3_4;
  }
}

a.itemcard {

  @apply flex flex-row-reverse mx-auto w-full my-2 rounded p-2;

  /* uncss:ignore */
  &.hide {
    @apply hidden;
  }

  /* uncss:ignore */
  &.filter {
    @apply hidden;
  }

  /* uncss:ignore */
  &.notsearched {
    @apply hidden;
  }

  &.opened {
    @apply bg-gradient-to-r from-purple-900 via-purple-800 to-purple-700;
  }

  &.closed {
    @apply bg-gradient-to-r from-indigo-900 via-indigo-800 to-indigo-700;
  }

  &.wearables {
    @apply bg-gradient-to-r from-green-900 via-green-800 to-green-700;
  }

  &.rarity {
    &.Godlike {
      @apply bg-gradient-to-r from-green-500 via-green-500 to-green-400;
    }

    &.Mythical {
      @apply bg-gradient-to-r from-pink-600 via-pink-500 to-pink-400;
    }

    &.Legendary {
      @apply bg-gradient-to-r from-yellow-700 via-yellow-600 to-yellow-500;
    }

    &.Rare {
      @apply bg-gradient-to-r from-blue-600 via-blue-500 to-blue-400;
    }

    &.Uncommon {
      @apply bg-gradient-to-r from-blue-500 to-green-400;
    }

    &.Common {
      @apply bg-gradient-to-r from-purple-700 via-purple-600 to-purple-500;
    }
  }

  &.consumables {
    @apply bg-gradient-to-r from-pink-800 via-pink-700 to-pink-600;
  }

  &.aavegotchis {
    @apply bg-gradient-to-r from-yellow-700 via-yellow-700 to-yellow-600;
  }

  // the main visual accent
  img.mainimg {
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
  }

  // tiny images like ghst token, aave ghost, usuall has text beside
  img.sprite {
    @apply m-auto mr-1;
    // padding-right: .15rem;
    height: 20px;
    width: 20px;
    max-width: 20px;
    max-height: 20px;
  }

  // p {
  //   @apply font-semibold;
  // }

}
