| {{ define "main" }}

.pagehead
  h1 {{ .Title }}
  | {{ partial "updated_at.html" . }}

.sortbox
  p Sort by
  select(onchange="resort()")
    option Portal #
    option Price

//- .flex.flex-col.mx-auto.w-11_12#list
.itemlist#list

  //- closed portal item
  //- a#template.rounded.flex.flex-col.p-2.mx-auto.my-2.w-full.md___w-3_5.hidden.bg-gradient-to-r.from-indigo-900.via-indigo-800.to-indigo-700
  a.hidden.itemcard.opened#template
    
    .flex.justify-between

      .flex.flex-col.justify-around.ml-1
        h3.font-semibold.uppercase.text-xl Portal Title
        //- div Owner
        .flex.flex-row.flex-row-reverse.justify-between.w-full
          #haunt 👻 Haunt
          .flex
            img.m-auto(src="/aavegotchi_images/ghsttoken.png", width=20, height=20 style="max-width: 20px; max-height: 20px;").mr-1
            #price

      img(src="/aavegotchi_images/portal_open_optimized.svg", width=60, height=60)
      
| {{ $js := resources.Get "js/opened.js" }} {{ $secJs := $js | resources.Minify | resources.Fingerprint }}
script(src="{{$secJs.RelPermalink}}")

| {{ end }}
