| {{ define "main" }}

.flex.justify-center.w-full.flex-col.mx-auto.h-1_2

  .pagehead
    h1 {{ .Title }}
    | {{ partial "updated_at.html" . }}

  .itemlist.my-6#list

    a(href="/portals/closed/").itemcard.closed.flex-reverse.justify-between

      img.mainimg(src="/aavegotchi_images/portal_sealed_optimized.svg", width=60, height=60)

      .flex.flex-col.justify-around.ml-1

        h3.font-semibold.uppercase.text-xl Closed Portals
        //- div Owner
        .flex.flex-row.justify-between.w-full
          //- #haunt 👻 Haunt:
          .flex
            img.sprite(src="/aavegotchi_images/ghsttoken.png", width=20, height=20)
            #price.
              {{ $data := getJSON "data/portals/closed/latest.json" }}
              {{ $min := $data.min_price }}
              {{ $max := $data.max_price }}

              {{ if gt $max 9999 }}

              {{ $a := div $max 1000 }}
              {{ $b := math.Round $a  }}
              {{ $c := mul $a 100  }}
              {{ $d := math.Round $c  }}
              {{ $min }} - {{div $d 100}}K

              {{ else }}

              {{ $min }} - {{ $max }}

              {{ end }}

    a(href="/portals/opened/").itemcard.opened.flex-reverse.justify-between

      img.mainimg(src="/aavegotchi_images/portal_open_optimized.svg", width=60, height=60)

      .flex.flex-col.justify-around.ml-1

        h3.font-semibold.uppercase.text-xl Opened Portals
        //- div Owner
        .flex.flex-row.justify-between.w-full
          //- #haunt 👻 Haunt:
          .flex
            img.sprite(src="/aavegotchi_images/ghsttoken.png", width=20, height=20)
            #price.
              {{$data := getJSON "data/portals/opened/latest.json"}}
              {{ $min := $data.min_price }}
              {{ $max := $data.max_price }}

              {{ if gt $max 9999 }}

              {{ $a := div $max 1000 }}
              {{ $b := math.Round $a  }}
              {{ $c := mul $a 100  }}
              {{ $d := math.Round $c  }}
              {{ $min }} - {{div $d 100}}K

              {{ else }}

              {{ $min }} - {{ $max }}

              {{ end }}

    a(href="/wearables/").itemcard.wearables.flex-reverse.justify-between
      
      img.mainimg(src="/aavegotchi_images/wearables.svg", width=60, height=60)
      
      .flex.flex-col.justify-around.ml-1
        
        h3.font-semibold.uppercase.text-xl Wearables
        //- div Owner
        .flex.flex-row.justify-between.w-full
          //- #haunt 👻 Haunt:
          .flex
            img.sprite(src="/aavegotchi_images/ghsttoken.png", width=20, height=20)
            #price.
              {{ $data := getJSON "data/wearables/latest.json" }}
              {{ $min := $data.min_price }}
              {{ $max := $data.max_price }}
              
              {{ if gt $max 9999 }}
              
              {{ $a := div $max 1000 }}
              {{ $b := math.Round $a  }}
              {{ $c := mul $a 100  }}
              {{ $d := math.Round $c  }}
              {{ $min }} - {{div $d 100}}K
              
              {{ else }}
              
              {{ $min }} - {{ $max }}
              
              {{ end }}

    a(href="/consumables/").itemcard.consumables.flex-reverse.justify-between
      
      img.mainimg(src="/aavegotchi_images/consumables.svg", width=60, height=60)
      
      .flex.flex-col.justify-around.ml-1
        
        h3.font-semibold.uppercase.text-xl Consumables
        //- div Owner
        .flex.flex-row.justify-between.w-full
          //- #haunt 👻 Haunt:
          .flex
            img.sprite(src="/aavegotchi_images/ghsttoken.png", width=20, height=20)
            #price.
              {{ $data := getJSON "data/consumables/latest.json" }}
              {{ $min := $data.min_price }}
              {{ $max := $data.max_price }}
              
              {{ if gt $max 9999 }}
              
              {{ $a := div $max 1000 }}
              {{ $b := math.Round $a  }}
              {{ $c := mul $a 100  }}
              {{ $d := math.Round $c  }}
              {{ $min }} - {{div $d 100}}K
              
              {{ else }}
              
              {{ $min }} - {{ $max }}
              
              {{ end }}

  //- .flex.flex-col.w-full.mx-auto.h-1_2
  //- 
  //-   .flex.flex-col.md___flex-row.w-full.mx-auto.p-2
  //- 
  //-     a#template(href="/portals/closed/").rounded.flex.flex-col.p-2.mx-auto.my-2.w-full.md___w-3_5.bg-gradient-to-r.from-indigo-900.via-indigo-800.to-indigo-700
  //-       .flex.flex-row-reverse.justify-between
  //- 
  //-         img(src="/aavegotchi_images/portal_sealed_optimized.svg", width=60, height=60, style=`
  //-         max-width: 60; 
  //-         max-height: 60;
  //-         height: 60px; 
  //-         object-fit: contain;
  //-         `)
  //-         .flex.flex-col.justify-around.ml-1
  //-           h3.font-semibold.uppercase.text-xl Closed Portals
  //-           //- div Owner
  //-           .flex.flex-row.justify-between.w-full
  //-             //- #haunt 👻 Haunt:
  //-             .flex
  //-               img.m-auto(src="/aavegotchi_images/ghsttoken.png", width=20, height=20 style="max-width: 20px; max-height: 20px;").mr-1
  //-               #price.
  //-                 {{$data := getJSON "data/portals/closed/latest.json"}}
  //-                 {{ $min := $data.min_price }}
  //-                 {{ $max := $data.max_price }}
  //- 
  //-                 {{ if gt $max 9999 }}
  //- 
  //-                 {{ $a := div $max 1000 }}
  //-                 {{ $b := math.Round $a  }}
  //-                 {{ $c := mul $a 100  }}
  //-                 {{ $d := math.Round $c  }}
  //-                 {{ $min }} - {{div $d 100}}K
  //- 
  //-                 {{ else }}
  //- 
  //-                 {{ $min }} - {{ $max }}
  //- 
  //-                 {{ end }}
  //- 
  //-     a#template(href="/portals/opened/").rounded.flex.flex-col.p-2.mx-auto.my-2.w-full.md___w-3_5.bg-gradient-to-r.from-purple-900.via-purple-800.to-purple-700
  //-       .flex.flex-row-reverse.justify-between
  //-         img(src="/aavegotchi_images/portal_open_optimized.svg", width=60, height=60, style=`
  //-         max-width: 60; 
  //-         max-height: 60;
  //-         height: 60px; 
  //-         object-fit: contain;
  //-         `)
  //-         .flex.flex-col.justify-around.ml-1
  //-           h3.font-semibold.uppercase.text-xl Opened Portals
  //-           //- div Owner
  //-           .flex.flex-row.justify-between.w-full
  //-             //- #haunt 👻 Haunt:
  //-             .flex
  //-               img.m-auto(src="/aavegotchi_images/ghsttoken.png", width=20, height=20 style="max-width: 20px; max-height: 20px;").mr-1
  //-               #price.
  //-                 {{$data := getJSON "data/portals/opened/latest.json"}}
  //- 
  //-                 {{ $min := $data.min_price }}
  //-                 {{ $max := $data.max_price }}
  //- 
  //-                 {{ if gt $max 9999 }}
  //- 
  //-                 {{ $a := div $max 1000 }}
  //-                 {{ $b := math.Round $a  }}
  //-                 {{ $c := mul $a 100  }}
  //-                 {{ $d := math.Round $c  }}
  //-                 {{ $min }} - {{div $d 100}}K
  //- 
  //-                 {{ else }}
  //- 
  //-                 {{ $min }} - {{ $max }}
  //- 
  //-                 {{ end }}
  //- 
  //- 
  //-     a#template(href="/wearables/").rounded.flex.flex-col.p-2.mx-auto.my-2.w-full.md___w-3_5.bg-gradient-to-r.from-green-700.via-green-600.to-green-500
  //-       .flex.flex-row-reverse.justify-between
  //-         img(src="/aavegotchi_images/wearables.svg", width=60, height=60, style=`
  //-         max-width: 60; 
  //-         max-height: 60;
  //-         height: 60px; 
  //-         object-fit: contain;
  //-         `)
  //-         .flex.flex-col.justify-around.ml-1
  //-           h3.font-semibold.uppercase.text-xl Wearables
  //-           //- div Owner
  //-           .flex.flex-row.justify-between.w-full
  //-             //- #haunt 👻 Haunt:
  //-             .flex
  //-               img.m-auto(src="/aavegotchi_images/ghsttoken.png", width=20, height=20 style="max-width: 20px; max-height: 20px;").mr-1
  //-               #price.
  //-                 {{$data := getJSON "data/wearables/latest.json"}}
  //-                 {{ $min := $data.min_price }}
  //-                 {{ $max := $data.max_price }}
  //- 
  //-                 {{ if gt $max 9999 }}
  //- 
  //-                 {{ $a := div $max 1000 }}
  //-                 {{ $b := math.Round $a  }}
  //-                 {{ $c := mul $a 100  }}
  //-                 {{ $d := math.Round $c  }}
  //-                 {{ $min }} - {{div $d 100}}K
  //- 
  //-                 {{ else }}
  //- 
  //-                 {{ $min }} - {{ $max }}
  //- 
  //-                 {{ end }}
  //- 
  //-     a#template(href="/consumables/").rounded.flex.flex-col.p-2.mx-auto.my-2.w-full.md___w-3_5.bg-gradient-to-r.from-pink-700.via-pink-600.to-pink-500
  //-       .flex.flex-row-reverse.justify-between
  //-         img(src="/aavegotchi_images/consumables.svg", width=60, height=60, style=`
  //-           max-width: 60; 
  //-           max-height: 60;
  //-           height: 60px; 
  //-           object-fit: contain;
  //-         `)
  //-         .flex.flex-col.justify-around.ml-1
  //-           h3.font-semibold.uppercase.text-xl Consumables
  //-           //- div Owner
  //-           .flex.flex-row.justify-between.w-full
  //-             //- #haunt 👻 Haunt:
  //-             .flex
  //-               img.m-auto(src="/aavegotchi_images/ghsttoken.png", width=20, height=20 style="max-width: 20px; max-height: 20px;").mr-1
  //-               #price.
  //-                 {{$data := getJSON "data/consumables/latest.json"}}
  //-                 {{ $min := $data.min_price }}
  //-                 {{ $max := $data.max_price }}
  //- 
  //-                 {{ if gt $max 9999 }}
  //- 
  //-                 {{ $a := div $max 1000 }}
  //-                 {{ $b := math.Round $a  }}
  //-                 {{ $c := mul $a 100  }}
  //-                 {{ $d := math.Round $c  }}
  //-                 {{ $min }} - {{div $d 100}}K
  //- 
  //-                 {{ else }}
  //- 
  //-                 {{ $min }} - {{ $max }}
  //- 
  //-                 {{ end }}

      //- @TODO: finish the aavegotchi section
      //- a#template(href="/aavegotchis/").rounded.flex.flex-col.p-2.mx-auto.my-2.w-full.md___w-3_5.bg-gradient-to-r.from-purple-800.via-pink-800.via-pink-700.to-pink-600
      //-   .flex.flex-row-reverse.justify-between
      //-     img(src="/aavegotchi_images/portal_open_optimized.svg", width=60, height=60, style=`
      //-     max-width: 60; 
      //-     max-height: 60;
      //-     height: 60px; 
      //-     object-fit: contain;
      //-     `)
      //-     .flex.flex-col.justify-around.ml-1
      //-       h3.font-semibold.uppercase.text-xl Aavegotchis
      //-       //- div Owner
      //-       .flex.flex-row.justify-between.w-full
      //-         //- #haunt 👻 Haunt:
      //-         .flex
      //-           img.m-auto(src="/aavegotchi_images/ghsttoken.png", width=20, height=20 style="max-width: 20px; max-height: 20px;").mr-1
      //-           #price 


  //- .flex.flex-col.w-full.text-center.my-4.mb-8
  //-   a(href="https://explorer-mainnet.maticvigil.com/address/0xFFfFfFffFFfffFFfFFfFFFFFffFFFffffFfFFFfF/tokens", rel="noopener noreferrer nofollow").text-xs.mx-auto 0xFFfFfFffFFfffFFfFFfFFFFFffFFFffffFfFFFfF
  //-   .text-sm.mx-auto.w-full.select-none Donate to site 👻
  //-   .text-xs or
  //-   .text-sm.mx-auto.w-full.select-none Donate to frens 👻
  //-   a(href="https://explorer-mainnet.maticvigil.com/address/0xFFfFfFffFFfffFFfFFfFFFFFffFFFffffFfFFFfF/tokens", rel="noopener noreferrer nofollow").text-xs.mx-auto 0xFFfFfFffFFfffFFfFFfFFFFFffFFFffffFfFFFfF
  //- 

| {{ end }}

//- .flex.justify-center.w-full.flex-col.mx-auto.h-1_2
//- 
//-   .flex.flex-col.w-full.text-center.-my-4
//-     .text-sm.mx-auto.w-full.select-none Donate Here 👻:
//-     .text-xs.mx-auto 0xFFfFfFffFFfffFFfFFfFFFFFffFFFffffFfFFFfF
//- 
